body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.sub-title {
    margin-top: 0;
    font-weight: 300;
}
.main {
    background-color: #eeeeee;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biography {
    min-width: 50%;
    max-width: 65%;
    
    font-weight: 100;
    color: #333333;
}

.quote {
    display: flex;
    min-width: 50%;
    max-width: 65%;
    flex-direction: column;
    margin: 30px 370px
}

.quote-text {
    align-self: flex-start;
}
.qoute-author {
    align-self: flex-end;
}
li {
    padding-bottom: 15px;
}

.footer {
    display: block;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
}